h1 {
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 25px;  
}

#table1 {
  font-family: sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center; 
  width: 100%;        
  margin: 20px auto;  
  background-color: #fffafc;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

#table1 th,
#table1 td:first-child {
  background: #afcde7;
  color: white;
  padding: 10px 20px;
}

#table1 th,
#table1 td {
  border: 1px solid white;
}

#table1 td {
  background: #d8e6f3;
  padding: 10px;
}
